// Chapuza datatables
input[type=search]{
  @extend .form-control
}

.dataTables_length select{
  @extend .form-control
}

.img-avatar{
  height: 35px !important;
  margin-right: 5px;
}

table.dataTable tbody th, table.dataTable tbody td {
  vertical-align: middle !important;
}
